#bg { 
  background: url(../images/bg2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}


/*
==================

Navigation
==================*/

.nav {
  height: 48px;
  width: 100%;
  background-color: rgba(60,60,60,.3);
  position: relative;
}

.nav > .nav-head {
  display: inline;
}

.nav > .nav-btn {
  display: none;
}
.nav > #nav-check {
  display: none;
}
.nav > #nav-check {
  display: none;
}


.nav > .nav-head > .nav-title {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links, .sign-up {
  display: inline;
  font-size: 1em;
}

.nav-link {
    margin: 2em;
    text-decoration: none;
    color: #fff;
}

.nav-link-last {
   
}
.category {
    color: #AFAFAF;
}

.sign-up {
    float: right;
   margin-top: 10px;
}

 .nav-link-btn {
    text-decoration: none;
    margin: .3em;
    font-size: .8em;
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                   transition: all .2s ease;
 }

#sign-up-button {
    color: #555;
    background-color: #fff;
}

#log-in-button {
    color: #fff;
    background-color: #DB2801;
    border-color: #C82300;
 }

#log-in-button:hover {
    background-color: #C82300;
}

#sign-up-button:hover {
    color: #000;
}

#nav-search {
    margin: 0;
    padding: 4px 8px;
    color: #000;
    border: 1px solid #999;
    border-radius: 2px;
}

.call-action {
    margin: 0 1.3em;
    margin-top: 5em;
    margin-bottom: 1.4em;
    color: #fff;

}
.call--header{
    font-size: 2.4em;
    margin: 0;
}

.call-detail {
    font-size: 2em;
    margin-top: .54em;
}

header {
    border: 1px solid #333;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f8f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 1;
    border-radius: 4px;
    font-size: .83em;
    -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                   transition: all .2s ease;
     -webkit-transition: opacity 600ms, visibility 600ms;
     transition: opacity 600ms, visibility 600ms  ease-in-out;
}

.dropdown-content a {
  padding: 7.6px 9px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 4px;
  color: #444;
  -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                   transition: all .4s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #0089FF;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.fa-bars {
    color: #fff;
}

/*Nav Media Responses*/


.bar-icon-a {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.bar-icon-a:hover {
    cursor: pointer;
}

@media screen and (max-width: 833px) {
  .nav .nav-links {
    display: none;
  }

  .nav.responsive * {
    display: block;
    text-align: left;
    width: 100%;
    z-index: 1;
    background-color: #222;
    margin: .4px;
    padding: 13px 0;
  }

.nav.responsive .centre {
  -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                   transition: all .4s ease;
}

.nav.responsive .nav-link-btn {
    text-align: center;    
}
.nav.responsive .centre:hover {
    background-color: #000;
}
 .nav.responsive #nav-search {
    background-color: #fff;
 }
  .bar-icon-a {
    display: block;
  }

.nav.responsive .dropdown {
    display:block; 
}
  .nav.responsive .dropdown-content {
   display: none;
}
.nav.responsive .dropdown-content a {
   color: #fff;
   padding: inherit 8px;
   text-align: center;
}
.nav.responsive .dropdown-content a:hover {
    color: #B00000;
}
  .nav.responsive .dropdown .category {
    display: block;
    width: 100%;
    text-align: left;
  }

  .nav.responsive .dropdown:hover .dropdown-content {
    display: block;
}

}



@media screen and (max-width: 1011px) {
  .nav-link {
    margin: 1em;
}
}

@media screen and (max-width: 918px) {
  .nav-link {
    margin: .6em;
}
}


@media screen and (max-width: 873px) {
  .nav-link {
    margin: .4vw;
}
}
/*
======================
    Header padding
======================*/
 .extra-det {
    padding: 8px 10px;
    border: 1px solid #444;
    margin: 0;
    background-color: #9F00A1;
 }

 .extra-det-list {
    display: flex;
    justify-content: space-around;
    color: #DFDFDF;
 }

 .det {
    display: inline;
 }

 .icon {
    font-size: 2em;
    margin: 5px;
    color: #000;
 }

 /*
 ====================
    Content Links
 ====================*/

 .switch-links {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 3em 0;
 }

 .switch-link-link {
    text-decoration: none;
    position: relative;
 }
/*
.switch-link-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  border-radius: 4px;
}
.switch-link-link:hover:after { 
  width: 100%; 
  left: 0; 
}
*/


.switch-link-link {
  text-decoration: none;
  color: rgba(0,0,0);
  z-index: 1;
}

.switch-link-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -35%;
  left: 0;
  background: #DE0000;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.switch-link-link:hover:before, .switch-link-link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}